/****************************************************/
/*				Makemake - A simulation of gravity				*/
/*							© HerrCrazi, 2017-2018							*/
/*	GNU GPL 3.0 License											v0.3.1	*/
/****************************************************/

/*
file version	: 0.2.4
global version	: 0.3.1
engine version	: 0.2.8 (Makemake 2.8 - Hi'iaka 0.2)
*/


body
{
	margin: 0;
	padding: 0;

	overflow: hidden;
}

canvas
{
	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;
}

.logo
{
	position: absolute;
	bottom: 8px;
	left: 10px;

	text-shadow: 0 0 5px black;
	text-transform: uppercase;
	text-align: center;

	font-family: "Light", Arial;
	font-weight: lighter;

	cursor: default;

	color: white;
}

.logo h1, .logo h2
{
	margin: 0;
	padding: 0;
}

.logo h1
{
	border-bottom: solid 1px white;

	padding-bottom: 1px;
	margin-bottom: 6px;

	font-size: 2.5em;
}

.logo h2
{
	font-size: 1.2em;

	letter-spacing: 0.09em;
}

.logo img
{
	width: 80px;
	height: 80px;
}

.hdiv, .vdiv
{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.hdiv
{
	flex-direction: row;
}

.vdiv
{
	flex-direction: column;
}

.tooltiptext
{
	position: absolute;
	bottom: 110%;
	left: 0;

	padding: 10px;

	text-align: left;
	text-transform: none;
	font-family: "Quicksand";
	font-weight: bolder;

	background: black;
	opacity: 0;

	border: solid	1px white;

	transition: opacity 1s;
}

.tooltip:hover .tooltiptext
{
	opacity: 1;
}

.tooltip .tooltiptext:hover
{
	opacity: 0;
}

/*Thanks to www.cssarrowplease.com for the arrow generation :p */
.tooltiptext:after, .tooltiptext:before
{
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.tooltiptext:after
{
	border-color: rgba(0, 0, 0, 0);
	border-top-color: #000000;
	border-width: 10px;
	margin-left: -10px;
}

.tooltiptext:before
{
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #ffffff;
	border-width: 11px;
	margin-left: -11px;
}

.warning
{
	display: inline;

	color: white;
	background-color: rgb(240,50,50);

	font-family: Arial;
	font-weight: bold;
	font-size: 0.8em;
	text-transform: uppercase;

	text-align: center;
	vertical-align: middle;

	padding: 2px;
	/*padding-bottom: 0;*/
	margin: 5px 0;

	border-radius: 3px;

	text-shadow: none;
}

.submention
{
	margin-top: 1.5em;

	font-size: 0.6em;
	font-weight: bolder;

	color: lightgrey;

	text-align: center;
	text-transform: uppercase;
	line-height: 1.5;
}

@font-face {
	font-family: "Light";
	src: url("../fonts/AdventPro-Thin.ttf");
}

@font-face {
	font-family: "Quicksand";
	src: url("../fonts/Quicksand_Book.otf");
}
